@import "tailwindcss";

@tailwind base;
@tailwind compomenets;
@tailwind utilities; 

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  z-index: -1;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  color: #32116E;
  font-weight: 650;
}

html{
  height: 100%;
}

.homepage-header-container, .homepage-footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  margin-top: 20px;
  z-index: 10;
  top: 4;
}

.logo{
  border: 2px solid white;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  height: 120px;
}

button{
  position: relative;
  z-index: 9999;
  pointer-events: auto;
}